.App-ul {
  width: 100%;
  background: #282c34;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.App-li {
  list-style-type: none;
  display: inline-block;
}

.App-li a{
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
}
.App-li a:hover{
  border: 1px solid white;
  border-radius: 5px;
}
